* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-primary-100: burlywood;
  --clr-primary-300: rgba(211, 146, 61, 0.116);
  --clr-primary-500: rgb(107, 74, 30);
  --clr-primary-white: white;
  --fc-primary-gray: rgb(192, 192, 192);
  --box-shadow: rgba(0, 0, 0, 0.26);
}

header {
  background-color: var(--clr-primary-100);
}

#back_icon {
  color: var(--clr-primary-500);
}

.header-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}

.header-form h1,
a {
  font-size: 2em;
}

h1 {
  color: var(--clr-primary-500);
  font-size: 80px;
  text-align: center;
}

section,
footer {
  background-color: var(--clr-primary-300);
}

header,
section {
  padding: 2rem;
}

header div {
  font-size: 20px;
}

section h1 {
  padding: 0.5em 0px;
}

.container {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
  grid-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}

.container-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 80vh;
}

form {
  display: flex;
  flex-direction: column;
}

form div {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

#name-input label {
  font-size: 16px;
}

#input {
  margin: 0px;
  display: flex;
  flex-direction: column;
}

#input span {
  /* border: 1px solid black; */
  visibility: hidden;
  /* display: none; */
  color: red;
  align-self: flex-end;
}

.emptypost {
  font-size: 40px;
  color: var(--clr-primary-100);
  font-weight: 500;
}

#name-input input,
textarea {
  width: 300px;
  margin-left: 20px;
}

.card {
  background-color: white;
  padding: 2em;
  border-radius: 20px;
  max-width: 400px;
  box-shadow: 0px 0px 20px 0px var(--box-shadow);
}

.card p {
  padding: 1em 0px;
}

.footer-card {
  padding-top: 2em;
}

form button {
  align-self: flex-end;
}

#post_story {
  background-color: var(--clr-primary-white);
  box-shadow: 0px 0px 20px 0px var(--box-shadow);
  border: none;
  padding: 0.5em;
  font-size: 16px;
  width: 150px;
  border-radius: 16px;
  margin: 1em 0px;
}

#post_story:hover {
  background-color: var(--clr-primary-500);
  color: var(--clr-primary-white);
}

#post_story:active {
  background-color: var(--clr-primary-300);
  color: var(--clr-primary-white);
}

header,
header h1 {
  text-align: center;
  line-height: 2em;
}

footer {
  text-align: center;
  padding: 2em;
}

input,
textarea {
  border: 1px solid;
  border-color: var(--fc-primary-gray);
  border-radius: 3px;
  font-size: 15px;
  padding: 2px;
}

@media (max-width: 500px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #name-input {
    flex-direction: column;
    align-items: center;
  }

  #name-input input,
  textarea {
    width: 100%;
    margin-left: 0px;
  }
  form {
    width: 100%;
  }

  #post_story {
    align-self: center;
    margin: 0px;
  }
}
